.home_container {
  margin: 80px 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .image_home {
    margin-right: 5vw;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .main_content {
    h1 {
      font-size: 48px;
      line-height: 56px;
      span {
        background-color: $highlight;
        padding: 0 10px 0
      }
    }
    p {

    }
  }

}