<div class="container">
  <nav class="footer">
    <ul>
      <li><a href="https://github.com/armandfardeau"><%= inline_svg 'github.svg' %></a></li>
      <li><a href="https://www.linkedin.com/in/armandfardeau/"><%= inline_svg 'linkedin.svg' %></a></li>
      <li><a href="https://twitter.com/armand_fardeau"><%= inline_svg 'twitter.svg' %></a></li>
    </ul>
    <p class='copyright'>© 2018 Armand Fardeau</p>
  </nav>
</div>