<div class="container">
  <nav class="footer">
    <ul>
      <li><a href=""><%= image_tag 'github' %></a></li>
      <li><a href=""><%= image_tag 'linkedin' %></a></li>
      <li><a href=""><%= image_tag 'twitter' %></a></li>
    </ul>
    <p class='copyright'>© 2018 Armand Fardeau</p>
  </nav>
</div>