<div class="about_container">
  <%= image_tag 'profile_picture', class: 'image_about' %>
  <div class="main_content">
    <h1>Hello. My name is <span class="highlight">Armand Fardeau</span></h1>
    <p>I was born in 1992 in the Paris region and studied computer science from the age of 14. Since 2017, I have been
      pursuing my passion, building things and developing my creativity.</p>
  </div>
</div>