<div class="home-container">
  <div class="jumbotron">
    <div class="jumbotron-container">
      <h2>Hello. My name is <span class="highlight">Armand Fardeau</span> and like to build things.
      </h2>
      <%= link_to 'View my work', portfolio_index_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>