<div class="portfolio-content">
  <%= link_to portfolio_path(portfolio) do %>
    <div class="portfolio_picture-container">
      <%= image_tag portfolio.picture.url(:medium), class: 'portfolio_picture' %>
    </div>
    <h2><%= portfolio.title %></h2>
    <%= raw portfolio.description.truncate(40) %>
  <% end %>
</div>