body {
  color: $text-black;
  background-color: $bg-white;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 0 10%;
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  font-weight: 500;
  color: $text-black;
}

p {
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $text-black;
}

.highlight {
  background-color: $highlight;
  color: $text-black;
  padding: 0 10px 0
}